<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">

  <display-name>KeyItaly</display-name>

  <!--
    Servlet e filtri sono dichiarati tramite annotazioni (@WebServlet, @WebFilter,
    @WebListener) nei rispettivi package: qui resta solo cio' che le annotazioni
    non possono esprimere.
  -->

  <!-- UTF-8 per tutte le pagine, senza doverlo ripetere in ogni direttiva di pagina -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <default-content-type>text/html</default-content-type>
    </jsp-property-group>
  </jsp-config>

  <!-- Riferimento al data source dichiarato dal container in META-INF/context.xml -->
  <resource-ref>
    <description>Riferimento JNDI al data source</description>
    <res-ref-name>jdbc/keyItaly</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <error-page>
    <error-code>404</error-code>
    <location>/pages/errorPage.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/pages/errorPage.jsp</location>
  </error-page>

  <!--
    Directory delle immagini del catalogo.

    Non e' valorizzata qui perche' dipende dalla macchina. Viene risolta a
    runtime da config.MediaStorage nell'ordine: variabile d'ambiente
    KEYITALY_MEDIA_DIR, system property keyitaly.media.dir, questo parametro,
    e infine una cartella dentro la directory di lavoro di Tomcat.

    Con Docker la variabile d'ambiente e' gia' impostata da compose.yaml.
    Avviando da IDE, scommentare la riga seguente e indicare il percorso
    della cartella immaginiCatalogo del progetto.

  <context-param>
    <param-name>WEBCONTENT_PATH</param-name>
    <param-value>/percorso/del/progetto/immaginiCatalogo</param-value>
  </context-param>
  -->

</web-app>
